body{
    background-color: #EDE8F5;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn{
    width: 140px;
    height: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #8697C4;
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.siteHeading{
    font-size: 30px;
    color: #3D52A0;
}

.home-info, .menu, .about-info{
    color: #3D52A0;
}

.menu-page{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 20%;
}

.menu-img, .about-img{
    margin: 20px;
    width: 20%
}